RewriteEngine On

RedirectMatch 301 "^/?MonkeyWiki/File:(.*\.(jpg|JPG|))$" "/images/$1"

RedirectMatch 301 "^.*/images/.*/([^/]*\.(jpg|JPG|))/[0-9]+px-.*$" "/images/$1"
RedirectMatch 301 "^.*/images/.*/([^/]*\.(jpg|JPG|))$" "/images/$1"

RewriteCond %{QUERY_STRING} ^.*title=([^&]*).*$
RewriteRule ^.*/index\.php$ /MonkeyWiki/%1 [L,QSD,R=301]

RedirectMatch 301 "^/?HMS.*" "/"
RedirectMatch 301 "^/?blog.*" "/"

RewriteCond %{HTTP_HOST} happymonkeysnowboards\.com [NC]
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^(.*)$ /MonkeyWiki/$1 [L]

ErrorDocument 404 /404.html
